In [46]:
import pandas as pd

In [47]:
df = pd.read_csv('sample_data.csv').drop(columns=['Unnamed: 0'])
df_tmp = df[df['duration_min'] < 30]

In [48]:
quantiles = df_tmp['duration_min'].quantile([.33, .66, .98, 1])

In [49]:
quantiles

0.33     0.333
0.66     1.167
0.98    12.683
1.00    29.533
Name: duration_min, dtype: float64

In [50]:
#labeling of groups
df_tmp['group'] = 'extreme'
df_tmp['group'][df_tmp['duration_min'] <= quantiles[.98]] = 'high'
df_tmp['group'][df_tmp['duration_min'] <= quantiles[.66]] = 'mid'
df_tmp['group'][df_tmp['duration_min'] <= quantiles[.33]] = 'low'

<ipython-input-50-45cc9a4b5711>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'] = 'extreme'
<ipython-input-50-45cc9a4b5711>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'][df_tmp['duration_min'] < quantiles[.98]] = 'high'
C:\Users\ezara\anaconda3\lib\site-packages\pandas\core\series.py:1020: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
<ipython-input-50-45cc9a4b5711>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'][df_tmp['duration_min'] < quantiles[.66]] = 'mid'
C:\Users\ezara\anaconda3\lib\site-packages\pandas\core\series.py:1020: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
<ipython-input-50-45cc9a4b5711>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'][df_tmp['duration_min'] < quantiles[.33]] = 'low'
C:\Users\ezara\anaconda3\lib\site-packages\pandas\core\series.py:1020: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [51]:
df_tmp

,user_id,date,year,month,day,hour,minute,second,hour_period,duration_min,group
0,8953,2016-12-24,2016,Dec,Saturday,6,11,31,06:00-06:30,1.500,high
1,3633,2017-02-08,2017,Feb,Wednesday,16,22,53,16:00-16:30,0.333,mid
2,3633,2016-12-09,2016,Dec,Friday,17,36,52,17:30-18:00,0.167,low
3,3633,2018-06-03,2018,Jun,Sunday,21,20,16,21:00-21:30,0.167,low
4,3633,2016-09-16,2016,Sep,Friday,9,16,39,09:00-09:30,0.167,low
...,...,...,...,...,...,...,...,...,...,...,...
9995,8774,2018-06-18,2018,Jun,Monday,16,21,27,16:00-16:30,0.167,low
9996,8774,2018-02-05,2018,Feb,Monday,20,11,52,20:00-20:30,1.217,high
9997,906,2018-05-16,2018,May,Wednesday,6,35,47,06:30-07:00,2.183,high
9998,906,2016-12-05,2016,Dec,Monday,12,51,52,12:30-13:00,1.683,high
9999,906,2017-12-23,2017,Dec,Saturday,18,36,37,18:30-19:00,0.833,mid

In [54]:
df_session = df.groupby(['user_id', 'date'])['duration_min'].count().reset_index(name='Daily sessions')

In [55]:
df_session

      user_id        date  Daily sessions
0         389  2017-06-03               1
1         389  2017-06-04               5
2         389  2017-06-05               4
3         389  2017-06-06               2
4         389  2017-06-07               3
...       ...         ...             ...
4864     9820  2018-11-20               1
4865     9820  2018-11-21               2
4866     9820  2018-11-22               1
4867     9820  2018-11-25               1
4868     9820  2018-11-26               1

[4869 rows x 3 columns]

In [59]:
quantiles = df_session['Daily sessions'].quantile([.33, .66, .98, 1])

In [63]:
#labeling of groups
df_session['group'] = 'extreme'
df_session['group'][df_session['Daily sessions'] <= quantiles[.98]] = 'high'
df_session['group'][df_session['Daily sessions'] <= quantiles[.66]] = 'mid'
df_session['group'][df_session['Daily sessions'] <= quantiles[.33]] = 'low'

<ipython-input-63-7d5f9110703a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_session['group'][df_session['Daily sessions'] <= quantiles[.98]] = 'high'
<ipython-input-63-7d5f9110703a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_session['group'][df_session['Daily sessions'] <= quantiles[.66]] = 'mid'
<ipython-input-63-7d5f9110703a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_session['group'][df_session['Daily sessions'] <= quantiles[.33]] = 'low'

In [64]:
df_session

      user_id        date  Daily sessions group
0         389  2017-06-03               1   low
1         389  2017-06-04               5  high
2         389  2017-06-05               4  high
3         389  2017-06-06               2   mid
4         389  2017-06-07               3  high
...       ...         ...             ...   ...
4864     9820  2018-11-20               1   low
4865     9820  2018-11-21               2   mid
4866     9820  2018-11-22               1   low
4867     9820  2018-11-25               1   low
4868     9820  2018-11-26               1   low

[4869 rows x 4 columns]

In [65]:
extreme = df_tmp[df_tmp.group == 'extreme']

In [68]:
extreme.groupby(['hour_period'])['duration_min'].mean()

hour_period
01:30-02:00    19.775000
02:00-02:30    15.017000
02:30-03:00    25.517000
03:00-03:30    15.061333
03:30-04:00    14.391500
04:00-04:30    15.488143
04:30-05:00    18.966714
05:00-05:30    16.297571
05:30-06:00    14.431000
06:00-06:30    17.052833
06:30-07:00    17.721429
07:00-07:30    19.907143
07:30-08:00    16.516500
08:00-08:30    20.413400
08:30-09:00    18.355667
09:00-09:30    17.672333
09:30-10:00    15.372333
10:00-10:30    18.389800
10:30-11:00    18.560375
11:00-11:30    16.216750
11:30-12:00    22.350000
12:00-12:30    14.972333
12:30-13:00    16.300000
13:00-13:30    14.576800
13:30-14:00    19.962500
14:00-14:30    19.543750
14:30-15:00    16.220750
15:00-15:30    23.925000
15:30-16:00    23.525000
16:00-16:30    22.346600
16:30-17:00    17.236889
17:00-17:30    18.430000
17:30-18:00    15.649833
18:00-18:30    15.946600
18:30-19:00    16.125000
19:00-19:30    18.252667
19:30-20:00    19.343000
20:00-20:30    16.777250
20:30-21:00    20.455500
21:00-21:30    14.959800
21:30-22:00    20.083250
22:00-22:30    17.575000
22:30-23:00    20.750333
23:00-23:30    16.275000
Name: duration_min, dtype: float64