In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('sample_data.csv').drop(columns=['Unnamed: 0'])
df_tmp = df[df['duration_min'] < 30]

In [3]:
quantiles = df_tmp['duration_min'].quantile([.33, .66, .98, 1])

In [4]:
quantiles

0.33     0.333
0.66     1.167
0.98    12.683
1.00    29.533
Name: duration_min, dtype: float64

In [5]:
#labeling of groups
df_tmp['group'] = 'extreme'
df_tmp['group'][df_tmp['duration_min'] <= quantiles[.98]] = 'high'
df_tmp['group'][df_tmp['duration_min'] <= quantiles[.66]] = 'mid'
df_tmp['group'][df_tmp['duration_min'] <= quantiles[.33]] = 'low'

C:\Users\ezara\AppData\Local\Temp/ipykernel_13960/143928500.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'] = 'extreme'
C:\Users\ezara\AppData\Local\Temp/ipykernel_13960/143928500.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'][df_tmp['duration_min'] <= quantiles[.98]] = 'high'
C:\Users\ezara\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
C:\Users\ezara\AppData\Local\Temp/ipykernel_13960/143928500.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'][df_tmp['duration_min'] <= quantiles[.66]] = 'mid'
C:\Users\ezara\AppData\Local\Temp/ipykernel_13960/143928500.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tmp['group'][df_tmp['duration_min'] <= quantiles[.33]] = 'low'

In [6]:
df_tmp

,user_id,date,year,month,day,hour,minute,second,hour_period,duration_min,group
0,8953,2016-12-24,2016,Dec,Saturday,6,11,31,06:00-06:30,1.500,high
1,3633,2017-02-08,2017,Feb,Wednesday,16,22,53,16:00-16:30,0.333,low
2,3633,2016-12-09,2016,Dec,Friday,17,36,52,17:30-18:00,0.167,low
3,3633,2018-06-03,2018,Jun,Sunday,21,20,16,21:00-21:30,0.167,low
4,3633,2016-09-16,2016,Sep,Friday,9,16,39,09:00-09:30,0.167,low
...,...,...,...,...,...,...,...,...,...,...,...
9995,8774,2018-06-18,2018,Jun,Monday,16,21,27,16:00-16:30,0.167,low
9996,8774,2018-02-05,2018,Feb,Monday,20,11,52,20:00-20:30,1.217,high
9997,906,2018-05-16,2018,May,Wednesday,6,35,47,06:30-07:00,2.183,high
9998,906,2016-12-05,2016,Dec,Monday,12,51,52,12:30-13:00,1.683,high
9999,906,2017-12-23,2017,Dec,Saturday,18,36,37,18:30-19:00,0.833,mid

In [54]:
df_session = df.groupby(['user_id', 'date'])['duration_min'].count().reset_index(name='Daily sessions')

In [55]:
df_session

      user_id        date  Daily sessions
0         389  2017-06-03               1
1         389  2017-06-04               5
2         389  2017-06-05               4
3         389  2017-06-06               2
4         389  2017-06-07               3
...       ...         ...             ...
4864     9820  2018-11-20               1
4865     9820  2018-11-21               2
4866     9820  2018-11-22               1
4867     9820  2018-11-25               1
4868     9820  2018-11-26               1

[4869 rows x 3 columns]

In [59]:
quantiles = df_session['Daily sessions'].quantile([.33, .66, .98, 1])

In [63]:
#labeling of groups
df_session['group'] = 'extreme'
df_session['group'][df_session['Daily sessions'] <= quantiles[.98]] = 'high'
df_session['group'][df_session['Daily sessions'] <= quantiles[.66]] = 'mid'
df_session['group'][df_session['Daily sessions'] <= quantiles[.33]] = 'low'

<ipython-input-63-7d5f9110703a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_session['group'][df_session['Daily sessions'] <= quantiles[.98]] = 'high'
<ipython-input-63-7d5f9110703a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_session['group'][df_session['Daily sessions'] <= quantiles[.66]] = 'mid'
<ipython-input-63-7d5f9110703a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_session['group'][df_session['Daily sessions'] <= quantiles[.33]] = 'low'

In [64]:
df_session

      user_id        date  Daily sessions group
0         389  2017-06-03               1   low
1         389  2017-06-04               5  high
2         389  2017-06-05               4  high
3         389  2017-06-06               2   mid
4         389  2017-06-07               3  high
...       ...         ...             ...   ...
4864     9820  2018-11-20               1   low
4865     9820  2018-11-21               2   mid
4866     9820  2018-11-22               1   low
4867     9820  2018-11-25               1   low
4868     9820  2018-11-26               1   low

[4869 rows x 4 columns]

In [7]:
extreme = df_tmp[df_tmp.group == 'extreme']

In [8]:
df_tmp[df_tmp.group == 'extreme']

,user_id,date,year,month,day,hour,minute,second,hour_period,duration_min,group
80,3633,2017-09-18,2017,Sep,Monday,11,33,56,11:30-12:00,23.017,extreme
99,8953,2017-01-15,2017,Jan,Sunday,13,30,6,13:30-14:00,25.067,extreme
387,3633,2016-12-12,2016,Dec,Monday,20,29,12,20:00-20:30,14.017,extreme
456,3633,2017-08-15,2017,Aug,Tuesday,21,6,15,21:00-21:30,17.850,extreme
493,3633,2016-09-13,2016,Sep,Tuesday,7,34,14,07:30-08:00,17.183,extreme
...,...,...,...,...,...,...,...,...,...,...,...
9407,906,2017-09-26,2017,Sep,Tuesday,4,43,38,04:30-05:00,25.350,extreme
9436,906,2017-11-10,2017,Nov,Friday,10,4,8,10:00-10:30,21.533,extreme
9480,906,2017-10-18,2017,Oct,Wednesday,10,57,38,10:30-11:00,18.183,extreme
9722,8774,2018-07-06,2018,Jul,Friday,22,25,10,22:00-22:30,21.800,extreme
9894,906,2017-09-20,2017,Sep,Wednesday,20,25,44,20:00-20:30,28.200,extreme

In [9]:
extreme = extreme.groupby(['hour_period'])['duration_min'].mean().reset_index(name='Avg duration')
extreme

    hour_period  Avg duration
0   01:30-02:00     26.867000
1   02:00-02:30     15.017000
2   02:30-03:00     25.517000
3   03:00-03:30     15.061333
4   03:30-04:00     14.391500
5   04:00-04:30     15.955667
6   04:30-05:00     18.966714
7   05:00-05:30     16.297571
8   05:30-06:00     14.722333
9   06:00-06:30     17.052833
10  06:30-07:00     17.721429
11  07:00-07:30     19.907143
12  07:30-08:00     16.516500
13  08:00-08:30     20.413400
14  08:30-09:00     18.355667
15  09:00-09:30     17.672333
16  09:30-10:00     15.372333
17  10:00-10:30     18.389800
18  10:30-11:00     18.560375
19  11:00-11:30     16.216750
20  11:30-12:00     22.350000
21  12:00-12:30     14.972333
22  12:30-13:00     16.300000
23  13:00-13:30     14.576800
24  13:30-14:00     19.962500
25  14:00-14:30     19.543750
26  14:30-15:00     17.400000
27  15:00-15:30     23.925000
28  15:30-16:00     23.525000
29  16:00-16:30     22.346600
30  16:30-17:00     17.236889
31  17:00-17:30     18.430000
32  17:30-18:00     16.243200
33  18:00-18:30     16.762500
34  18:30-19:00     16.125000
35  19:00-19:30     18.252667
36  19:30-20:00     19.343000
37  20:00-20:30     16.777250
38  20:30-21:00     20.455500
39  21:00-21:30     14.959800
40  21:30-22:00     20.083250
41  22:00-22:30     17.575000
42  22:30-23:00     20.750333
43  23:00-23:30     16.275000

In [14]:
df_3633 = df[(df.user_id == 3633) & (df.year == 2017)].sort_values(['date', 'hour_period'])
df_3633

,user_id,date,year,month,day,hour,minute,second,hour_period,duration_min
303,3633,2017-01-03,2017,Jan,Tuesday,19,19,14,19:00-19:30,1.667
700,3633,2017-01-04,2017,Jan,Wednesday,9,1,52,09:00-09:30,1.067
482,3633,2017-01-04,2017,Jan,Wednesday,19,4,1,19:00-19:30,1.450
200,3633,2017-01-09,2017,Jan,Monday,20,57,16,20:30-21:00,0.150
205,3633,2017-01-10,2017,Jan,Tuesday,14,30,5,14:30-15:00,0.050
...,...,...,...,...,...,...,...,...,...,...
354,3633,2017-12-26,2017,Dec,Tuesday,13,8,7,13:00-13:30,11.817
113,3633,2017-12-29,2017,Dec,Friday,16,56,7,16:30-17:00,0.167
168,3633,2017-12-29,2017,Dec,Friday,17,43,37,17:30-18:00,0.167
562,3633,2017-12-30,2017,Dec,Saturday,19,25,56,19:00-19:30,3.667
261,3633,2017-12-31,2017,Dec,Sunday,13,47,51,13:30-14:00,0.433

In [15]:
import plotly.graph_objects as go

point

fig = go.Figure(data=go.Scatter(x=df_3633['date'].astype(dtype=str)+df_3633['hour_period'].astype(dtype=str), 
                                y=df_3633['duration_min'],
                                marker_color='black', text="counts"))

fig.add_vrect()

fig.update_layout({"title": 'Tweets about Malioboro from Jan 2020 to Jan 2021 Day by Day',
                   "xaxis": {"title":"Time"},
                   "yaxis": {"title":"Total tweets"},
                   "showlegend": False})
fig.show()

In [ ]:
# imports
import numpy as np
import pandas as pd
import plotly.graph_objects as go
import plotly.express as px
import datetime

pd.set_option('display.max_rows', None)

df_3633 = df[df.user_id == 3633]

# plotly setup
fig = px.line(df, x='date', y='duration_min')
fig.update_xaxes(showgrid=True, gridwidth=1, gridcolor='rgba(0,0,255,0.1)')
fig.update_yaxes(showgrid=True, gridwidth=1, gridcolor='rgba(0,0,255,0.1)')


# function to set background color for a
# specified variable and a specified level
def highLights(fig, variable, level, mode, fillcolor, layer):
    """
    Set a specified color as background for given
    levels of a specified variable using a shape.
    
    Keyword arguments:
    ==================
    fig -- plotly figure
    variable -- column name in a pandas dataframe
    level -- int or float
    mode -- set threshold above or below
    fillcolor -- any color type that plotly can handle
    layer -- position of shape in plotly fiugre, like "below"
    
    """
    
    if mode == 'above':
        m = df[variable].gt(level)
    
    if mode == 'below':
        m = df[variable].lt(level)
        
    df1 = df[m].groupby((m).cumsum())['date'].agg(['first','last'])

    for index, row in df1.iterrows():
        #print(row['first'], row['last'])
        fig.add_shape(type="rect",
                        xref="x",
                        yref="paper",
                        x0=row['first'],
                        y0=0,
                        x1=row['last'],
                        y1=1,
                        line=dict(color="rgba(0,0,0,0)",width=3,),
                        fillcolor=fillcolor,
                        layer=layer) 
    return(fig)

fig = highLights(fig = fig, variable = 'duration_min', level = 5, mode = 'above',
               fillcolor = 'rgba(200,0,200,0.2)', layer = 'below')

fig.update_layout(template = 'plotly_dark')

fig.show()